/* You can add global styles to this file, and also import other style files */
/* .jumbotron{
    background-image: url('./assets/images/banner2.jpg');
    background-size: cover;
} */

/* @import "~bootstrap/dist/css/bootstrap.css";  
@import "~font-awesome/css/font-awesome.css";  
.ng-valid[required], .ng-valid.required  {  
  border-left: 5px solid #42A948;  
}  
.ng-invalid:not(form)  {  
  border-left: 5px solid #a94442; 
}  
.mtop10{  
  margin-top:10px;  
} */